.product {
    position: relative;
    flex: 0 1 400px;
    padding-bottom: 2em;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-height: 32.2em;

    .prod_img {
        opacity: 1;
        transition: opacity .3s ease;
        object-fit: cover;
        width: 22vw;
        height: 22vw;
    }

    &:hover {
        img {
            opacity: .5;
        }
    }
}

.info {
    padding: .5em 2ch;
}

.prod_name {
    font-size: 1.6em;
    font-weight: 700;
}

.price {
    font-size: 2em;
    text-align: right;
}

.old_price {
    text-decoration: line-through;
    font-size: 0.8em;

    &~sub {
        font-size: 0.8em;
    }
}

.prod_open {
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10em;
    background: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow: scroll;

    justify-items: center;
    align-content: space-between;

    .close {
        grid-column: 1/-1;
        max-height: 4em;
        background-color: var(--c-orange);
        padding: 1em 5em;
        font-size: 2em;
        font-weight: 900;
        cursor: pointer;

        &:hover {
            opacity: .8;
        }
    }

    img {
        width: 100%;
        object-fit: cover;
    }

    .prod_name {
        font-size: 2em;
        padding: .5em;
    }

    .price {
        text-align: left;
        padding: .2em .5em;
    }

}

.description {
    padding: 2em;

    p {
        margin: 1em 0;
        font-size: 1.2em;
    }
}